<p style="color: green"><%= notice %></p>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= button_to "Destroy this category", @category, method: :delete %>
  <%= link_to @category do %><h3><%= @category.title %></h3><% end %>
  |<%= link_to "Add Expense to Category", new_expense_path(category_id: @category.id), remote: true %>|<br>
   <strong>Expenses:</strong>
   <p><%= @category.totalprice %></p>
  <ul>
  <% @category.expenses.each do |c|  %>
      <li><%= link_to "#{c.title}", expense_path(c) %></li>
    <% end %>
  </ul>
